.benefits {
    margin-top: 14rem;
    margin-bottom: 0;

    .benefits-module {
        flex-wrap: wrap;
        padding: 0;

        .txt-box {
            height: fit-content;
            padding-left: 4rem;
        }

        .benefits-figure {
            transform: translate(0);
            height: 600px;

            .img-desktop {
                transform: translate(-15vw, -20vh);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .benefits {
        margin-top: 0;

        .benefits-module {
            .desktop-figure {
                .img-desktop {
                    transform: translate(-20vw, 0vh);
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .benefits {
        margin-top: 5rem;

        .benefits-module {
            padding: 0;
            margin: 0 auto;

            .txt-box {
                padding: 0;
                max-width: 500px;
            }
        }
    }
}