// Variables
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$light-gray: #f2f2f2;
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-gray-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);
$very-dark-gray-blue-bg-gradient: #2c2d3f;
$very-dark-desaturated-blue-bg-gradient: #3f4164;
$Overpass: 'Overpass';
$Ubuntu: 'Ubuntu';
$intro-gradient: linear-gradient(to left, #FF3D54, #FF8F70);
$banner-gradient: linear-gradient(to right, #2c2d3f, #3f4164);