//variables
@import '_variables.scss';

// mixins
@import '_mixins.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: $Ubuntu, sans-serif;
}

// navbar
@import '_navbar.scss';

// main
main {
    position: relative;
}

// presentation
@import '_presentation.scss';

// banner
@import '_banner.scss';

// second presentation section
@import 'second-presentation.scss';
