*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

header {
  position: relative;
  background: url(../images/bg-pattern-intro.svg) no-repeat 14% 52%/189%, linear-gradient(to left, #FF3D54, #FF8F70);
  height: 50vh;
  border-radius: 0 0 0 5rem;
  padding: 0 2rem;
}
header nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  top: 3rem;
  padding: 0 3rem;
  color: white;
}
header nav .logo {
  margin-right: 2rem;
  align-self: center;
}
header nav .menu {
  position: relative;
  display: flex;
  list-style-type: none;
  height: 100%;
  line-height: 50px;
  width: 100%;
}
header nav .menu .menu-items {
  cursor: pointer;
  flex-shrink: 0;
  width: 120px;
  overflow: hidden;
  transition: all 0.3s;
}
header nav .menu .menu-items span {
  margin-right: 5px;
}
header nav .menu .menu-items .chevron-mobile {
  display: none;
}
header nav .menu .menu-items .chevron-desktop {
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px);
}
header nav .menu .menu-items a {
  text-decoration: none;
  display: block;
  transition: all 0.25s;
  color: #1f3f5b;
}
header nav .menu .menu-items .submenu {
  position: relative;
  background-color: white;
  border-radius: 5px 5px 20px 5px;
  padding: 10px 20px;
  line-height: 50px;
  min-width: 200px;
  left: -20px;
  z-index: 100;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.24);
  transition: transform 0.25s ease, opacity 0.25s ease;
  transform: translateX(-30px);
  opacity: 0;
}
header nav .menu .login {
  text-align: center;
}
header nav .menu .connect {
  width: 140px;
  padding: 0.8rem;
  border-radius: 999px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ff525d;
  background-color: white;
  position: relative;
}
header nav .menu .connect span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav .menu hr {
  display: none;
}
header nav .menu .login {
  margin-left: auto;
}
header nav .menu .burger {
  display: none;
}
header .hero-txt-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
}
header .hero-txt-container h1 {
  font-family: "Overpass";
  font-size: 3rem;
  text-align: center;
}
header .hero-txt-container p {
  text-align: center;
  padding: 1rem;
  font-size: 18px;
}
header .hero-txt-container .buttons {
  text-align: center;
  padding-top: 2rem;
}
header .hero-txt-container .buttons .btn {
  width: 140px;
  padding: 0.8rem;
  border-radius: 999px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .hero-txt-container .buttons .btn.red-txt {
  color: #ff525d;
  background-color: white;
  margin-right: 1rem;
}
header .hero-txt-container .buttons .btn.white-txt {
  color: white;
  background: transparent;
  border: 1px solid white;
}

@media (hover: hover) {
  header nav .menu .menu-items .submenu a:hover {
    font-weight: bold;
  }
  header nav .menu .menu-items:hover {
    overflow: visible;
  }
  header nav .menu .menu-items:hover > img {
    transform: rotate(180deg);
  }
  header nav .menu .menu-items:hover > .submenu {
    transform: translateX(0);
    opacity: 1;
  }
  header nav .menu .login:hover {
    font-weight: bold;
  }
  header nav .menu .connect:hover {
    color: white;
    background: #ff7a85;
  }
  header .hero-txt-container .buttons .btn.red-txt:hover {
    color: white;
    background: #ff7a85;
  }
  header .hero-txt-container .buttons .btn.white-txt:hover {
    color: #ff525d;
    background-color: white;
  }
}
@media screen and (max-width: 900px) {
  header {
    height: 90vh;
    background: url(../images/bg-pattern-intro.svg) no-repeat 30% 40%/400%, linear-gradient(to left, #FF3D54, #FF8F70);
  }
  header nav {
    padding: 0;
  }
  header nav .menu {
    display: none;
  }
  header nav .menu .menu-items {
    height: 50px;
    width: 100%;
    text-align: center;
  }
  header nav .menu .menu-items .chevron-desktop {
    display: none;
  }
  header nav .menu .menu-items .chevron-mobile {
    display: inline;
    transition: all 0.2s ease-in-out;
    transform: translateY(-2px);
  }
  header nav .menu .menu-items .active-chevron {
    transform: rotate(180deg);
  }
  header nav .menu .menu-items span {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  header nav .menu .menu-items .submenu {
    background-color: #f2f2f2;
    width: 90%;
    position: relative;
    display: block;
    left: 0;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease;
    transform: translateY(-3px);
  }
  header nav .menu .menu-items .submenu a {
    font-size: 18px;
  }
  header nav .menu .login {
    margin-bottom: 20px;
  }
  header nav .menu .connect {
    width: 140px;
    padding: 0.8rem;
    border-radius: 999px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: "Ubuntu";
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to left, #FF3D54, #FF8F70);
    color: white;
    margin: 0 auto;
  }
  header nav .menu .mobile-hr {
    display: block;
    width: 90%;
    margin: 30px auto 30px;
    border: 0.25px solid #f2f2f2;
    border-radius: 5px;
  }
  header nav .menu .active-mobile {
    height: fit-content;
  }
  header nav .menu .active-mobile > .submenu {
    overflow: visible;
    transform: translateX(0);
    opacity: 1;
  }
  header nav .active-menu {
    display: flex;
    flex-direction: column;
    top: 60px;
    width: 320px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: white;
    color: #1f3f5b;
    height: auto;
    padding: 40px 0 60px;
    border-radius: 5px;
    z-index: 300;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
  }
  header nav .burger {
    display: block;
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  header nav .burger .line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: white;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  header nav .burger .line:nth-child(1) {
    top: 10px;
  }
  header nav .burger .line:nth-child(2) {
    top: 20px;
  }
  header nav .burger .line:nth-child(3) {
    top: 30px;
  }
  header nav .burger.active .line:nth-child(1) {
    top: 20px;
    transform: rotate(135deg);
  }
  header nav .burger.active .line:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }
  header nav .burger.active .line:nth-child(3) {
    top: 20px;
    transform: rotate(-135deg);
  }

  .hero-txt-container h1 {
    font-size: 2.5rem;
  }
  .hero-txt-container .buttons {
    display: flex;
  }
  .hero-txt-container .buttons .btn.red-txt.active-btn {
    color: white;
    background: #ff7a85;
  }
  .hero-txt-container .buttons .btn.white-txt.active-btn {
    color: #ff525d;
    background-color: white;
  }
}
main {
  position: relative;
}

.presentation {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}
.presentation h2 {
  font-size: 30px;
  color: #1f3f5b;
  text-align: center;
  padding: 7rem 0 5rem;
  font-family: "Overpass";
}
.presentation .content-module {
  padding: 0 0 0 7rem;
  display: flex;
  margin: auto;
}
.presentation .content-module .txt-box {
  width: 45%;
  line-height: 1.5;
  padding-top: 2rem;
}
.presentation .content-module .txt-box .txt-bloc h3 {
  color: #1f3f5b;
  padding-bottom: 2rem;
  font-family: "Overpass";
  font-size: 20px;
}
.presentation .content-module .txt-box .first {
  padding-bottom: 4rem;
}
.presentation .content-module .txt-box p {
  color: #4b5862;
  font-family: "Ubuntu";
}
.presentation .content-module .desktop-figure {
  width: 45%;
  height: 100%;
  transform: translate(10vw, -20vh);
}
.presentation .content-module .desktop-figure img {
  width: 60vw;
  max-width: 900px;
}
.presentation .content-module .mobile-figure {
  display: none;
}

@media screen and (max-width: 1200px) {
  .presentation .content-module .desktop-figure img {
    transform: translateY(-10vh);
  }
}
@media screen and (max-width: 900px) {
  .presentation {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 150px;
  }
  .presentation h2 {
    word-break: break-word;
  }
  .presentation .content-module {
    margin: 0 2rem;
    padding: 0 5rem;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
  .presentation .content-module .txt-box {
    width: 100%;
    margin: 0 auto 7rem auto;
  }
  .presentation .content-module .desktop-figure {
    display: none;
  }
  .presentation .content-module .mobile-figure {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .presentation .content-module .mobile-figure .img-mobile {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .presentation h2 {
    font-size: 26px;
    margin: 0 1rem;
    padding: 7rem 0 3rem;
  }
  .presentation .content-module {
    padding: 0 1rem;
    margin: 0 1rem;
  }
}
.banner {
  background: url(../images/bg-pattern-circles.svg) no-repeat -120% 85%/85%, linear-gradient(to right, #2c2d3f, #3f4164);
  border-radius: 0 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}
.banner .banner-img-box {
  padding-left: 5rem;
}
.banner .banner-img-box img {
  width: 100%;
}
.banner .banner-txt {
  width: 40%;
  color: white;
  line-height: 1.5;
}
.banner .banner-txt h2 {
  font-size: 2.3rem;
  padding: 1rem 0;
}

@media screen and (max-width: 900px) {
  .banner {
    flex-direction: column;
    height: 100%;
    background: url(../images/bg-pattern-circles.svg) no-repeat 45% 134%/150%, linear-gradient(to right, #2c2d3f, #3f4164);
    text-align: center;
  }
  .banner .banner-img-box {
    padding: 0;
    margin: 0 auto;
    transform: translateY(-20vh);
  }
  .banner .banner-txt {
    margin-top: -75px;
    width: 500px;
    transform: translateY(-10vh);
  }
}
@media screen and (max-width: 750px) {
  .banner {
    background: url(../images/bg-pattern-circles.svg) no-repeat 52% 100%/250%, linear-gradient(to right, #2c2d3f, #3f4164);
  }
  .banner .banner-txt {
    width: 320px;
  }
  .banner .banner-img-box .banner-img {
    max-width: 500px;
  }
}
.benefits {
  margin-top: 14rem;
  margin-bottom: 0;
}
.benefits .benefits-module {
  flex-wrap: wrap;
  padding: 0;
}
.benefits .benefits-module .txt-box {
  height: fit-content;
  padding-left: 4rem;
}
.benefits .benefits-module .benefits-figure {
  transform: translate(0);
  height: 600px;
}
.benefits .benefits-module .benefits-figure .img-desktop {
  transform: translate(-15vw, -20vh);
}

@media screen and (max-width: 1200px) {
  .benefits {
    margin-top: 0;
  }
  .benefits .benefits-module .desktop-figure .img-desktop {
    transform: translate(-20vw, 0vh);
  }
}
@media screen and (max-width: 900px) {
  .benefits {
    margin-top: 5rem;
  }
  .benefits .benefits-module {
    padding: 0;
    margin: 0 auto;
  }
  .benefits .benefits-module .txt-box {
    padding: 0;
    max-width: 500px;
  }
}
footer {
  width: 100%;
  background-color: #25252d;
  height: 300px;
  border-radius: 0 5rem 0 0;
  color: white;
  padding: 0 2rem;
}
footer .footer-nav {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 3rem;
  top: 3rem;
}
footer .footer-nav .footer-menu {
  display: flex;
  list-style-type: none;
  font-family: "Overpass";
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}
footer .footer-nav .footer-menu .footer-menu-items {
  line-height: 2;
}
footer .footer-nav .footer-menu .footer-menu-items .items-txt {
  font-weight: bold;
}
footer .footer-nav .footer-menu .footer-menu-items .footer-submenu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer .footer-nav .footer-menu .footer-menu-items .footer-submenu .footer-submenu-items {
  text-decoration: none;
  color: #c8c8cb;
  font-size: 14px;
  list-style-type: none;
}
footer .footer-nav .footer-menu .footer-menu-items .footer-submenu .footer-submenu-items:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  footer {
    height: 750px;
  }
  footer .footer-nav {
    flex-direction: column;
    text-align: center;
  }
  footer .footer-nav .footer-menu {
    flex-direction: column;
    margin-top: 4rem;
  }
  footer .footer-nav .footer-menu .footer-menu-items {
    padding-bottom: 2rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Overpass";
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
